<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- 1. Redirect non-www to www (HTTPS) -->
        <rule name="Redirect non-www to www (HTTPS)" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^aimcongress\.cn$" />
          </conditions>
          <action type="Redirect" url="https://www.aimcongress.cn/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- 2. Redirect www HTTP to HTTPS -->
        <rule name="Redirect www HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.aimcongress\.cn$" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://www.aimcongress.cn/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- 3. Skip debugger traffic -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- 4. Static content -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>

        <!-- 5. All other requests go to server.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>

      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />
    <iisnode node_env="production" />
    <httpRedirect enabled="false" destination="https://www.aimcongress.cn" exactDestination="true" httpResponseStatus="Permanent" />
  </system.webServer>
</configuration>
