@-webkit-keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
        /* Slightly zoomed in */
    }

    50% {
        transform: scale(1.1);
        /* Moderate zoom */
    }

    75% {
        transform: scale(1.05);
        /* Slightly zoomed out again */
    }

    100% {
        transform: scale(1);
        /* Return to original size */
    }
}

@-webkit-keyframes popUp {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@keyframes lightningEffect {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }
   
    50% {
        opacity: 1;
        transform: translateX(50%);
    }
    75% {
        opacity: 0.5;
        transform: translateX(75%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.infinite-animate-X {
  animation: moveX 1s cubic-bezier(0.45, 0, 0.55, 1) infinite alternate;
}

@keyframes moveX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(16px); /* Move right 16px, adjust as needed */
  }
}
