.travel-partner-page-wrapper {
    

    .travels-name {
        font-size: 32px;
        font-weight: 600;
    }

    .travels-logo {
        width: 160px;
        object-fit: contain;
    }

    a {
        color: $primary-color;
    }
}